$FontColor_0: rgba(0, 0, 0, 0);

$FontColor_1: #ffffff;
$FontColor_2: rgba(255, 255, 255, 0.87);
$FontColor_3: rgba(200, 200, 200, 0.87);
$FontColor_4: rgba(195, 195, 195, 0.6);
$FontColor_5: rgba(255, 255, 255, 0.3);
$FontColor_6: rgba(200, 200, 200, 0.2);

$FontColor_7: #44d6e3;
$FontColor_8: #199ca8;

$FontColor_9: Green;
$FontColor_10: #f27835;
$FontColor_11: #fc4138;

$BackgroundColor_1: rgba(32, 40, 40, 0.95);
$BackgroundColor_2: rgba(22, 30, 30, 0.95);
$BackgroundColor_3: rgba(22, 30, 30, 0.1);

//$BackgroundColor_4: rgba(25, 156, 168, 0.6);
$BackgroundColor_5: rgba(25, 160, 180, 0.4);
$BackgroundColor_6: rgba(25, 160, 180, 0.15);

$BackgroundColor_7: rgba(252, 65, 56, 0.2);
$BackgroundColor_8: rgba(252, 65, 56, 0.5);
$BackgroundColor_9: rgba(252, 65, 56, 0.8);

$BackgroundColor_10: rgba(0, 0, 0, 0.6);
$BackgroundColor_11: rgba(0, 0, 0, 0.3);
$BackgroundColor_12: rgba(0, 0, 0, 1);

$BackgroundColor_13: transparent;
$BackgroundColor_14: #ffffff;
$BackgroundColor_15: #fbeaa0;

$BorderColor_1: rgba(255, 255, 255, 0);
$BorderColor_2: rgba(0, 0, 0, 0);
$BorderColor_3: rgba(0, 0, 0, 0.4);
$BorderColor_4: rgba(25, 156, 168, 1);
$BorderColor_5: rgba(32, 40, 40, 0.95);
$BorderColor_6: rgba(32, 45, 45, 0.95);
$BorderColor_7: rgba(22, 22, 22, 0.4);

$BoxShadowColor_1: rgba(25, 156, 168, 1);
$BoxShadowColor_2: rgba(69, 69, 69, 0.1);
$BoxShadowColor_3: rgba(82, 82, 82, 0.1);
$BoxShadowColor_4: rgba(20, 40, 40, 0.1);
$BoxShadowColor_5: rgba(64, 64, 64, 0.1);
$BoxShadowColor_6: rgba(56, 56, 56, 0.1);
$BoxShadowColor_7: rgba(0, 0, 0, 0.1);

/* This is for popup menus in Cinnamon versions < 3.2 */
/*Scale view context menu*/
/* CinnamonMountOperation Dialogs */
/* Context menu (at the moment only for favorites) */
/* Controls the styling when using the "Simple buttons" option */
/* Controls the style when using the "Visual representation" option */
stage {
  color: $FontColor_3;
}

.label-shadow {
  color: $FontColor_0;
}

.sound-button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  color: $FontColor_3;
  background-color: $BackgroundColor_2;
  border: 1px solid $BorderColor_6;
  box-shadow: inset 0 2px 4px $BoxShadowColor_4;
  border-radius: 2px;
  width: 22px;
  height: 13px;
  padding: 8px;

  &:focus {
    color: $FontColor_3;
    background-color: $BackgroundColor_2;
    border: 1px solid $BorderColor_4;
    box-shadow: inset 0 2px 4px $BoxShadowColor_2;
  }

  &:hover {
    color: $FontColor_3;
    background-color: $BackgroundColor_3;
    border: 1px solid $BorderColor_5;
    box-shadow: inset 0 2px 4px $BoxShadowColor_3;

    &:focus {
      color: $FontColor_3;
      background-color: $BackgroundColor_3;
      border: 1px solid $BorderColor_4;
      box-shadow: inset 0 2px 4px $BoxShadowColor_2;
    }
  }

  &:active {
    color: $FontColor_1;
    background-color: $BackgroundColor_5;
    border: 1px solid $BorderColor_4;
    box-shadow: inset 0 2px 4px $BoxShadowColor_1;
  }

  &:insensitive {
    color: $FontColor_4;
    border: 1px solid $BorderColor_6;
    background-color: $BackgroundColor_1;
    box-shadow: inset 0 2px 4px $BoxShadowColor_2;
  }

  StIcon {
    icon-size: 1.4em;
  }
}

.modal-dialog-button-box {
  .modal-dialog-button {
    min-height: 20px;
    padding: 5px 32px;
    transition-duration: 0;
    color: $FontColor_3;
    background-color: $BackgroundColor_2;
    border: 1px solid $BorderColor_6;
    box-shadow: inset 0 2px 4px $BoxShadowColor_4;
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
    height: 30px;

    &:focus {
      color: $FontColor_3;
      background-color: $BackgroundColor_2;
      border: 1px solid $BorderColor_4;
      box-shadow: inset 0 2px 4px $BoxShadowColor_2;
    }

    &:hover {
      color: $FontColor_3;
      background-color: $BackgroundColor_3;
      border: 1px solid $BorderColor_5;
      box-shadow: inset 0 2px 4px $BoxShadowColor_3;

      &:focus {
        color: $FontColor_3;
        background-color: $BackgroundColor_3;
        border: 1px solid $BorderColor_4;
        box-shadow: inset 0 2px 4px $BoxShadowColor_2;
      }
    }

    &:active {
      color: $FontColor_1;
      background-color: $BackgroundColor_5;
      border: 1px solid $BorderColor_4;
      box-shadow: inset 0 2px 4px $BoxShadowColor_1;
    }

    &:insensitive {
      color: $FontColor_4;
      border: 1px solid $BorderColor_6;
      background-color: $BackgroundColor_1;
      box-shadow: inset 0 2px 4px $BoxShadowColor_2;
    }
  }

  spacing: 0;
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: $BackgroundColor_10;
}

.notification-button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  color: $FontColor_3;
  background-color: $BackgroundColor_2;
  border: 1px solid $BorderColor_6;
  box-shadow: inset 0 2px 4px $BoxShadowColor_4;
  border-radius: 2px;
  padding: 5px;

  &:focus {
    color: $FontColor_3;
    background-color: $BackgroundColor_2;
    border: 1px solid $BorderColor_4;
    box-shadow: inset 0 2px 4px $BoxShadowColor_2;
  }

  &:hover {
    color: $FontColor_3;
    background-color: $BackgroundColor_3;
    border: 1px solid $BorderColor_5;
    box-shadow: inset 0 2px 4px $BoxShadowColor_3;

    &:focus {
      color: $FontColor_3;
      background-color: $BackgroundColor_3;
      border: 1px solid $BorderColor_4;
      box-shadow: inset 0 2px 4px $BoxShadowColor_2;
    }
  }

  &:active {
    color: $FontColor_1;
    background-color: $BackgroundColor_5;
    border: 1px solid $BorderColor_4;
    box-shadow: inset 0 2px 4px $BoxShadowColor_1;
  }

  &:insensitive {
    color: $FontColor_4;
    border: 1px solid $BorderColor_6;
    background-color: $BackgroundColor_1;
    box-shadow: inset 0 2px 4px $BoxShadowColor_2;
  }
}

.notification-icon-button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  color: $FontColor_3;
  background-color: $BackgroundColor_2;
  border: 1px solid $BorderColor_6;
  box-shadow: inset 0 2px 4px $BoxShadowColor_4;
  border-radius: 2px;
  padding: 5px;

  &:focus {
    color: $FontColor_3;
    background-color: $BackgroundColor_2;
    border: 1px solid $BorderColor_4;
    box-shadow: inset 0 2px 4px $BoxShadowColor_2;
  }

  &:hover {
    color: $FontColor_3;
    background-color: $BackgroundColor_3;
    border: 1px solid $BorderColor_5;
    box-shadow: inset 0 2px 4px $BoxShadowColor_3;

    &:focus {
      color: $FontColor_3;
      background-color: $BackgroundColor_3;
      border: 1px solid $BorderColor_4;
      box-shadow: inset 0 2px 4px $BoxShadowColor_2;
    }
  }

  &:active {
    color: $FontColor_1;
    background-color: $BackgroundColor_5;
    border: 1px solid $BorderColor_4;
    box-shadow: inset 0 2px 4px $BoxShadowColor_1;
  }

  &:insensitive {
    color: $FontColor_4;
    border: 1px solid $BorderColor_6;
    background-color: $BackgroundColor_1;
    box-shadow: inset 0 2px 4px $BoxShadowColor_2;
  }

  >StIcon {
    icon-size: 32px;
  }
}

.popup-menu {
  #notification {
    .notification-button {
      min-height: 20px;
      padding: 5px 32px;
      transition-duration: 0;
      color: $FontColor_3;
      background-color: $BackgroundColor_2;
      border: 1px solid $BorderColor_6;
      box-shadow: inset 0 2px 4px $BoxShadowColor_4;
      border-radius: 2px;
      padding: 5px;

      &:focus {
        color: $FontColor_3;
        background-color: $BackgroundColor_2;
        border: 1px solid $BorderColor_4;
        box-shadow: inset 0 2px 4px $BoxShadowColor_2;
      }

      &:hover {
        color: $FontColor_3;
        background-color: $BackgroundColor_3;
        border: 1px solid $BorderColor_5;
        box-shadow: inset 0 2px 4px $BoxShadowColor_3;

        &:focus {
          color: $FontColor_3;
          background-color: $BackgroundColor_3;
          border: 1px solid $BorderColor_4;
          box-shadow: inset 0 2px 4px $BoxShadowColor_2;
        }
      }

      &:active {
        color: $FontColor_1;
        background-color: $BackgroundColor_5;
        border: 1px solid $BorderColor_4;
        box-shadow: inset 0 2px 4px $BoxShadowColor_1;
      }

      &:insensitive {
        color: $FontColor_4;
        border: 1px solid $BorderColor_6;
        background-color: $BackgroundColor_1;
        box-shadow: inset 0 2px 4px $BoxShadowColor_2;
      }
    }

    .notification-icon-button {
      min-height: 20px;
      padding: 5px 32px;
      transition-duration: 0;
      color: $FontColor_3;
      background-color: $BackgroundColor_2;
      border: 1px solid $BorderColor_6;
      box-shadow: inset 0 2px 4px $BoxShadowColor_4;
      border-radius: 2px;
      padding: 5px;

      &:focus {
        color: $FontColor_3;
        background-color: $BackgroundColor_2;
        border: 1px solid $BorderColor_4;
        box-shadow: inset 0 2px 4px $BoxShadowColor_2;
      }

      &:hover {
        color: $FontColor_3;
        background-color: $BackgroundColor_3;
        border: 1px solid $BorderColor_5;
        box-shadow: inset 0 2px 4px $BoxShadowColor_3;

        &:focus {
          color: $FontColor_3;
          background-color: $BackgroundColor_3;
          border: 1px solid $BorderColor_4;
          box-shadow: inset 0 2px 4px $BoxShadowColor_2;
        }
      }

      &:active {
        color: $FontColor_1;
        background-color: $BackgroundColor_5;
        border: 1px solid $BorderColor_4;
        box-shadow: inset 0 2px 4px $BoxShadowColor_1;
      }

      &:insensitive {
        color: $FontColor_4;
        border: 1px solid $BorderColor_6;
        background-color: $BackgroundColor_1;
        box-shadow: inset 0 2px 4px $BoxShadowColor_2;
      }
    }

    StEntry {
      padding: 7px;
      caret-size: 1px;
      selection-background-color: $BackgroundColor_5;
      selected-color: #ffffff;
      transition-duration: 300ms;
      border-radius: 3px;
      color: $FontColor_2;
      border: 1px solid $BorderColor_6;
      background-color: $BackgroundColor_1;
      box-shadow: inset 0 2px 4px $BoxShadowColor_5;

      &:focus {
        color: $FontColor_3;
        border: 1px solid $BorderColor_6;
        background-color: $BackgroundColor_1;
        box-shadow: inset 0 2px 4px $BoxShadowColor_5;
      }

      &:hover {
        color: $FontColor_3;
        border: 1px solid $BorderColor_6;
        background-color: $BackgroundColor_1;
        box-shadow: inset 0 2px 4px $BoxShadowColor_5;
      }

      &:insensitive {
        color: $FontColor_4;
        border: 1px solid $BorderColor_6;
        background-color: $BackgroundColor_1;
        box-shadow: inset 0 2px 4px $BoxShadowColor_6;
      }

      StIcon.capslock-warning {
        icon-size: 16px;
        warning-color: #f27835;
        padding: 0 4px;
      }
    }

    color: $FontColor_3;
    border-image: url("dark-assets/misc/message.svg") 9 9 9 9;
  }

  color: $FontColor_3;

  .popup-sub-menu {
    background-color: $BackgroundColor_1;
    box-shadow: none;

    .popup-menu-item {
      &:ltr {
        padding-right: 1.75em;
      }

      &:rtl {
        padding-left: 1.75em;
      }
    }

    StScrollBar {
      padding: 4px;

      StBin#trough {
        border-width: 0;
      }

      StBin#vhandle {
        border-width: 0;
      }
    }
  }

  .popup-menu-content {
    padding: 1em 0em 1em 0em;
  }

  .popup-menu-item {
    padding: 0.4em 1.75em;
    spacing: 1em;
    border: 1px solid transparent;
    border-left-width: 0;
    border-right-width: 0;

    &:active {
      color: $FontColor_3;
      border-color: $BorderColor_1;
      background-color: $BackgroundColor_6;
    }

    &:insensitive {
      color: $FontColor_4;
      background: none;
    }
  }

  .popup-inactive-menu-item {
    color: $FontColor_3;

    &:insensitive {
      color: $FontColor_4;
    }
  }
}

#menu-search-entry {
  padding: 7px;
  caret-size: 1px;
  selection-background-color: $BackgroundColor_5;
  selected-color: #ffffff;
  transition-duration: 300ms;
  border-radius: 3px;
  color: $FontColor_2;
  border: 1px solid $BorderColor_6;
  background-color: $BackgroundColor_1;
  box-shadow: inset 0 2px 4px $BoxShadowColor_5;
  width: 250px;
  min-height: 16px;
  font-weight: bold;
  caret-color: rgba(200, 200, 200, 0.87);

  &:focus {
    color: $FontColor_3;
    border: 1px solid $BorderColor_6;
    background-color: $BackgroundColor_1;
    box-shadow: inset 0 2px 4px $BoxShadowColor_5;
  }

  &:hover {
    color: $FontColor_3;
    border: 1px solid $BorderColor_6;
    background-color: $BackgroundColor_1;
    box-shadow: inset 0 2px 4px $BoxShadowColor_5;
  }

  &:insensitive {
    color: $FontColor_4;
    border: 1px solid $BorderColor_6;
    background-color: $BackgroundColor_1;
    box-shadow: inset 0 2px 4px $BoxShadowColor_6;
  }

  StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: #f27835;
    padding: 0 4px;
  }
}

.notification {
  StEntry {
    padding: 7px;
    caret-size: 1px;
    caret-color: #c3c3c3;
    selection-background-color: $BackgroundColor_5;
    selected-color: #ffffff;
    transition-duration: 300ms;
    border-radius: 3px;
    color: $FontColor_2;
    border: 1px solid $BorderColor_6;
    background-color: $BackgroundColor_1;
    box-shadow: inset 0 2px 4px $BoxShadowColor_7;

    &:focus {
      color: $FontColor_1;
      background-color: $BackgroundColor_5;
      border: 1px solid $BorderColor_4;
      box-shadow: inset 0 2px 4px $BoxShadowColor_7;
    }

    &:insensitive {
      color: $FontColor_4;
      border: 1px solid $BorderColor_6;
      background-color: $BackgroundColor_1;
      box-shadow: inset 0 2px 4px $BoxShadowColor_7;
    }
  }
}

StScrollView.vfade {
  -st-vfade-offset: 68px;
}

StScrollView.hfade {
  -st-hfade-offset: 68px;
}

StScrollBar {
  padding: 8px;

  StBin#trough {
    background-color: $BackgroundColor_2;
    border-radius: 8px;
  }

  StButton#vhandle {
    border-radius: 2px;
    background-color: $BackgroundColor_2;
    border: 0px solid;
    margin: 0px;

    &:hover {
      background-color: $BackgroundColor_2;
    }

    &:active {
      background-color: $BackgroundColor_5;
    }
  }

  StButton#hhandle {
    border-radius: 2px;
    background-color: $BackgroundColor_2;
    border: 0px solid;
    margin: 0px;

    &:hover {
      background-color: $BackgroundColor_2;
    }

    &:active {
      background-color: $BackgroundColor_5;
    }
  }
}

StScrollView {
  StScrollBar {
    min-width: 5px;
    min-height: 5px;
  }
}

.separator {
  -gradient-height: 1px;
  -gradient-start: rgba(0, 0, 0, 0);
  -gradient-end: rgba(0, 0, 0, 0);
  -margin-horizontal: 1.5em;
  height: 1em;
}

.ripple-pointer-location {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: $BackgroundColor_6;
  box-shadow: 0 0 2px 2px $BoxShadowColor_1;
}

.popup-slider-menu-item {
  -slider-height: 0.3em;
  -slider-background-color: $BorderColor_5;
  -slider-border-color: rgba(47, 47, 47, 0.4);
  -slider-active-background-color: $BackgroundColor_5;
  -slider-active-border-color: rgba(47, 47, 47, 0.4);
  -slider-border-width: 1px;
  -slider-handle-radius: 0.5em;
  height: 1em;
  min-width: 15em;
  border: 0 solid transparent;
  border-right-width: 1px;
  border-left-width: 5px;
}

.slider {
  -slider-height: 0.3em;
  -slider-background-color: $BorderColor_5;
  -slider-border-color: rgba(47, 47, 47, 0.4);
  -slider-active-background-color: $BackgroundColor_5;
  -slider-active-border-color: rgba(47, 47, 47, 0.4);
  -slider-border-width: 1px;
  -slider-handle-radius: 0.5em;
  height: 1em;
  min-width: 15em;
  border: 0 solid transparent;
  border-right-width: 1px;
  border-left-width: 5px;
}

.check-box {
  CinnamonGenericContainer {
    spacing: 0.2em;
    min-height: 30px;
    padding-top: 2px;
  }

  StLabel {
    font-weight: normal;
  }

  StBin {
    width: 16px;
    height: 16px;
    background-image: url("dark-assets/checkbox/checkbox-unchecked.svg");
  }

  &:focus {
    StBin {
      background-image: url("dark-assets/checkbox/checkbox-unchecked-focused.svg");
    }

    &:checked {
      StBin {
        background-image: url("dark-assets/checkbox/checkbox-checked-focused.svg");
      }
    }
  }

  &:checked {
    StBin {
      background-image: url("dark-assets/checkbox/checkbox-checked.svg");
    }
  }
}

.radiobutton {
  CinnamonGenericContainer {
    spacing: 0.2em;
    height: 26px;
    padding-top: 2px;
  }

  StLabel {
    padding-top: 4px;
    font-size: 0.9em;
    box-shadow: none;
  }

  StBin {
    width: 16px;
    height: 16px;
    background-image: url("dark-assets/checkbox/radio-unchecked.svg");
  }

  &:focus {
    StBin {
      background-image: url("dark-assets/checkbox/radio-unchecked.svg");
    }

    &:checked {
      StBin {
        background-image: url("dark-assets/checkbox/radio-checked.svg");
      }
    }
  }

  &:checked {
    StBin {
      background-image: url("dark-assets/checkbox/radio-checked.svg");
    }
  }
}

.toggle-switch {
  width: 50px;
  height: 20px;
  background-size: contain;
}

.toggle-switch-us {
  background-image: url("dark-assets/switch/switch-off.svg");

  &:checked {
    background-image: url("dark-assets/switch/switch-on.svg");
  }
}

.toggle-switch-intl {
  background-image: url("dark-assets/switch/switch-off.svg");

  &:checked {
    background-image: url("dark-assets/switch/switch-on.svg");
  }
}

.cinnamon-link {
  color: $FontColor_7;
  text-decoration: underline;

  &:hover {
    color: $FontColor_7;
  }
}

#Tooltip {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  padding: 5px 12px;
  background-color: $BackgroundColor_15;
  color: $FontColor_5;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}

#LookingGlassDialog {
  color: $FontColor_3;
  border: 1px solid $BorderColor_5;
  border-radius: 3px;
  background-color: $BackgroundColor_10;
  spacing: 4px;
  padding: 8px;
}

.menu {
  color: $FontColor_3;
  border: 1px solid $BorderColor_5;
  border-radius: 5px;
  margin: 10px;
  background-color: $BackgroundColor_2;
}

.menu.top {
  border-radius: 0 0 3px 3px;
}

.menu.bottom {
  border-radius: 3px 3px 0 0;
}

.menu.left {
  border-radius: 0 3px 3px 0;
}

.menu.right {
  border-radius: 3px 0 0 3px;
}

.popup-sub-menu {
  background-color: $BackgroundColor_1;
  box-shadow: none;

  .popup-menu-item {
    &:ltr {
      padding-right: 1.75em;
    }

    &:rtl {
      padding-left: 1.75em;
    }
  }

  StScrollBar {
    padding: 4px;

    StBin#trough {
      border-width: 0;
    }

    StBin#vhandle {
      border-width: 0;
    }
  }
}

.popup-menu-content {
  padding: 1em 0em 1em 0em;
}

.popup-menu-item {
  padding: 0.4em 1.75em;
  spacing: 1em;
  border-left-width: 0;
  border-right-width: 0;

  &:active {
    color: $FontColor_1;
    background-color: $BackgroundColor_6;
  }

  &:insensitive {
    color: $FontColor_4;
    background: none;
  }
}

.popup-inactive-menu-item {
  color: $FontColor_3;

  &:insensitive {
    color: $FontColor_4;
  }
}

.popup-menu-arrow {
  icon-size: 16px;
}

.popup-menu-icon {
  icon-size: 16px;
}

.popup-menu-boxpointer {
  -arrow-border-radius: 3px;
  -arrow-background-color: #2f2f2f;
  -arrow-border-width: 1px;
  -arrow-border-color: $BorderColor_5;
  -arrow-base: 21px;
  -arrow-rise: 9px;
  -boxpointer-gap: 2px;
}

.popup-combo-menu {
  color: $FontColor_3;
  border: 1px solid $BorderColor_5;
  border-radius: 2px;
  background-color: $BackgroundColor_1;
  box-shadow: none;
  padding: 1em 0em 1em 0em;
}

.popup-combobox-item {
  spacing: 1em;
  padding: 0.4em 1.75em;
  border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
}

.popup-separator-menu-item {
  -gradient-height: 1px;
  -gradient-start: $BorderColor_5;
  -gradient-end: $BorderColor_5;
  -margin-horizontal: 0;
  height: 1px;
}

.popup-alternating-menu-item {
  &:alternate {
    font-weight: normal;
  }
}

.popup-device-menu-item {
  spacing: 0.5em;
}

.popup-subtitle-menu-item {
  font-weight: normal;
}

.nm-menu-item-icons {
  spacing: 0.5em;
}

#panel {
  font-weight: bold;
  height: 40px;
  width: 32px;
  color: $FontColor_3;

  &:highlight {
    border-image: none;
    background-color: $BackgroundColor_7;
  }
}

#panelLeft {
  spacing: 4px;

  &:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255, 0, 0, 0.1);
    background-gradient-end: rgba(255, 0, 0, 0.3);
  }

  &:ltr {
    padding-right: 4px;
  }

  &:rtl {
    padding-left: 4px;
  }
}

#panelLeft.vertical {
  padding: 0px;

  &:ltr {
    padding-right: 0px;
  }

  &:rtl {
    padding-left: 0px;
  }
}

#panelRight {
  &:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 0, 255, 0.1);
    background-gradient-end: rgba(0, 0, 255, 0.3);
  }

  &:ltr {
    padding-left: 4px;
    spacing: 4px;
  }

  &:rtl {
    padding-right: 4px;
    spacing: 4px;
  }
}

#panelRight.vertical {
  padding: 0px;

  &:ltr {
    padding-right: 0px;
  }

  &:rtl {
    padding-left: 0px;
  }
}

#panelCenter {
  spacing: 4px;

  &:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 255, 0, 0.1);
    background-gradient-end: rgba(0, 255, 0, 0.3);
  }
}

.panelLeft {
  spacing: 4px;

  &:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255, 0, 0, 0.1);
    background-gradient-end: rgba(255, 0, 0, 0.3);
  }

  &:ltr {
    padding-right: 4px;
  }

  &:rtl {
    padding-left: 4px;
  }
}

.panelLeft.vertical {
  padding: 0px;

  &:ltr {
    padding-right: 0px;
  }

  &:rtl {
    padding-left: 0px;
  }
}

.panelRight {
  &:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 0, 255, 0.1);
    background-gradient-end: rgba(0, 0, 255, 0.3);
  }

  &:ltr {
    padding-left: 4px;
    spacing: 0px;
  }

  &:rtl {
    padding-right: 4px;
    spacing: 0px;
  }
}

.panelRight.vertical {
  padding: 0px;

  &:ltr {
    padding-left: 0px;
    spacing: 0px;
  }

  &:rtl {
    padding-right: 0px;
    spacing: 0px;
  }
}

.panelCenter {
  spacing: 4px;

  &:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 255, 0, 0.1);
    background-gradient-end: rgba(0, 255, 0, 0.3);
  }
}

.panelCenter.vertical {
  padding-left: 0px;
  padding-right: 0px;
}

.panel-top {
  color: $FontColor_1;
  border: none;
  background-color: $BackgroundColor_10;
  font-size: 1em;
  padding: 0px;
  box-shadow: 0 0px $BorderColor_5;
}

.panel-bottom {
  color: $FontColor_1;
  border: none;
  background-color: $BackgroundColor_10;
  font-size: 1em;
  padding: 0px;
  box-shadow: 0 -1px $BorderColor_5;
}

.panel-left {
  color: $FontColor_1;
  border: none;
  background-color: $BackgroundColor_10;
  font-size: 1em;
  padding: 0px;
  box-shadow: 1px 0 $BorderColor_5;

  .workspace-switcher {
    padding: 0;
  }
}

.panel-right {
  color: $FontColor_1;
  border: none;
  background-color: $BackgroundColor_10;
  font-size: 1em;
  padding: 0px;
  box-shadow: -1px 0 $BorderColor_5;

  .workspace-switcher {
    padding: 0;
  }
}

.panel-dummy {
  background-color: $BackgroundColor_8;

  &:entered {
    background-color: $BackgroundColor_9;
  }
}

.panel-status-button {
  border-width: 0;
  -natural-hpadding: 3px;
  -minimum-hpadding: 3px;
  font-weight: bold;
  color: $FontColor_3;
}

.panel-button {
  -natural-hpadding: 6px;
  -minimum-hpadding: 2px;
  font-weight: bold;
  color: $FontColor_9;
  transition-duration: 100;
}

.system-status-icon {
  icon-size: 16px;
  padding: 0 1px;
}

.system-status-icon.warning {
  color: $FontColor_10;
}

.system-status-icon.error {
  color: $FontColor_11;
}

#overview {
  spacing: 12px;
}

.window-caption {
  background-color: $BackgroundColor_10;
  border: 1px solid #353535;
  color: $FontColor_2;
  spacing: 8px;
  border-radius: 2px;
  font-size: 0.9em;
  padding: 5px 8px;
  -cinnamon-caption-spacing: 8px;

  &:focus {
    background-color: $BackgroundColor_5;
    color: $FontColor_1;
    border: 1px solid $BorderColor_4;
  }
}

.window-border {
  border: 3px $BorderColor_4;
  border-radius: 2px;
  background-color: $BackgroundColor_3;
  box-shadow: 0 0 0 1px $BoxShadowColor_1 inset;
}

.overview-empty-placeholder {
  color: $FontColor_1;
  font-size: 2em;
}

.expo-workspaces-name-entry {
  height: 1.5em;
  border-radius: 2px;
  font-size: 1em;
  padding: 5px 8px;
  -cinnamon-caption-spacing: 4px;
  color: $FontColor_2;
  background-color: $BackgroundColor_3;
  border: 1px solid $BorderColor_7;
  box-shadow: inset 0 2px 4px $BoxShadowColor_7;

  &:focus {
    border: 1px solid $BorderColor_4;
    background-color: $BackgroundColor_5;
    color: $FontColor_1;
    font-style: italic;
    transition-duration: 300;
    selection-background-color: #ffffff;
    selected-color: #199ca8;
  }
}

.expo-workspaces-name-entry#selected {
  height: 1.5em;
  border-radius: 2px;
  font-size: 1em;
  padding: 5px 8px;
  -cinnamon-caption-spacing: 4px;
  color: $FontColor_2;
  background-color: $BackgroundColor_3;
  border: 1px solid $BorderColor_7;
  box-shadow: inset 0 2px 4px $BoxShadowColor_7;

  &:focus {
    border: 1px solid $BorderColor_4;
    background-color: $BackgroundColor_5;
    color: $FontColor_1;
    font-style: italic;
    transition-duration: 300;
    selection-background-color: #ffffff;
    selected-color: $BorderColor_4;
  }
}

.expo-workspace-thumbnail-frame {
  border: 4px solid rgba(255, 255, 255, 0);
  background-color: $BackgroundColor_3;
  border-radius: 2px;
}

.expo-workspace-thumbnail-frame#active {
  border: 4px solid $BorderColor_4;
  background-color: $BackgroundColor_12;
  border-radius: 2px;
}

.expo-background {
  background-color: $BackgroundColor_10;
}

.workspace-thumbnails {
  spacing: 26px;
}

.workspace-thumbnails-background {
  padding: 8px;

  &:rtl {
    padding: 8px;
  }
}

.workspace-add-button {
  background-image: url("common-assets/misc/add-workspace.svg");
  height: 200px;
  width: 35px;
  transition-duration: 100;

  &:hover {
    background-image: url("common-assets/misc/add-workspace-hover.svg");
    transition-duration: 100;
  }

  &:active {
    background-image: url("common-assets/misc/add-workspace-active.svg");
    transition-duration: 100;
  }
}

.workspace-overview-background-shade {
  background-color: $BackgroundColor_10;
}

.workspace-close-button {
  background-image: url("common-assets/misc/close.svg");
  background-size: 26px;
  height: 26px;
  width: 26px;
  -cinnamon-close-overlap: 12px;

  &:hover {
    background-image: url("common-assets/misc/close-hover.svg");
    background-size: 26px;
    height: 26px;
    width: 26px;
  }

  &:active {
    background-image: url("common-assets/misc/close-active.svg");
    background-size: 26px;
    height: 26px;
    width: 26px;
  }
}

.window-close {
  background-image: url("common-assets/misc/close.svg");
  background-size: 26px;
  height: 26px;
  width: 26px;
  -cinnamon-close-overlap: 12px;

  &:hover {
    background-image: url("common-assets/misc/close-hover.svg");
    background-size: 26px;
    height: 26px;
    width: 26px;
  }

  &:active {
    background-image: url("common-assets/misc/close-active.svg");
    background-size: 26px;
    height: 26px;
    width: 26px;
  }
}

.window-close-area {
  background-image: url("common-assets/misc/trash-icon.svg");
  height: 120px;
  width: 400px;
}

.calendar {
  spacing-rows: 0;
  spacing-columns: 0;
}

.calendar-main-box {
  margin: 0 0.8em 0.5em 0.8em;
}

.calendar-events-main-box {
  height: 300px;
  margin-right: 0.5em;
  padding: 0.5em;
  min-width: 350px;
  border: 1px solid $BorderColor_5;
  background-color: $BackgroundColor_1;
}

.calendar-events-no-events-button {
  margin: 6px 0 6px 0;
  padding: 6px;

  &:hover {
    background-color: $BackgroundColor_5;

    .calendar-events-no-events-icon {
      color: $FontColor_1;
    }

    .calendar-events-no-events-label {
      color: $FontColor_1;
    }
  }
}

.calendar-events-no-events-icon {
  font-weight: bold;
  color: $FontColor_3;
  text-align: center;
}

.calendar-events-no-events-label {
  font-weight: bold;
  color: $FontColor_3;
  text-align: center;
}

.calendar-events-date-label {
  padding: 0.1em 0.1em 0.5em 0.1em;
  color: $FontColor_3;
  font-weight: bold;
  text-align: center;
}

.calendar-events-event-container {
  padding: 0;
}

.calendar-event-button {
  border: 1px solid rgba(0, 0, 0, 0);

  .calendar-event-time-past {
    color: $FontColor_5;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.2em;
  }

  .calendar-event-time-present {
    color: $FontColor_3;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.2em;

    &:all-day {
      color: $FontColor_8;
    }
  }

  .calendar-event-time-future {
    color: $FontColor_3;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.2em;
  }

  .calendar-event-summary {
    color: $FontColor_3;
    text-align: left;
    width: 200px;
  }

  .calendar-event-countdown {
    text-align: right;
    margin-bottom: 0.6em;
    color: $FontColor_3;

    &:soon {
      font-weight: bold;
    }

    &:imminent {
      font-weight: bold;
      color: $FontColor_10;
    }

    &:current {
      font-weight: bold;
      color: $FontColor_8;
    }
  }

  &:hover {
    background-color: $BackgroundColor_5;
    border: 1px solid $BorderColor_5;

    .calendar-event-time-past {
      color: $FontColor_1;
    }

    .calendar-event-time-present {
      color: $FontColor_1;
    }

    .calendar-event-time-future {
      color: $FontColor_1;
    }

    .calendar-event-summary {
      color: $FontColor_1;
    }

    .calendar-event-countdown {
      text-align: right;
      margin-bottom: 0.6em;
      color: $FontColor_1;

      &:soon {
        font-weight: bold;
      }

      &:imminent {
        font-weight: bold;
      }

      &:current {
        font-weight: bold;
      }
    }
  }
}

.calendar-event-color-strip {
  width: 2px;
}

.calendar-today-home-button {
  padding: 6px;
}

.calendar-today-day-label {
  font-size: 1.75em;
  color: $FontColor_3;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.1em;
}

.calendar-today-date-label {
  font-size: 1.1em;
  color: $FontColor_3;
  font-weight: bold;
  text-align: center;
}

.calendar-today-home-button-enabled {
  padding: 6px;

  &:hover {
    background-color: $BackgroundColor_5;

    .calendar-today-day-label {
      color: $FontColor_1;
    }

    .calendar-today-date-label {
      color: $FontColor_1;
    }
  }
}

.calendar-month-label {
  color: $FontColor_3;
  font-weight: bold;
  padding: 8px 0;
}

.calendar-change-month-back {
  width: 16px;
  height: 16px;
  background-image: url("common-assets/misc/calendar-arrow-left.svg");

  &:focus {
    background-image: url("common-assets/misc/calendar-arrow-left-hover.svg");
  }

  &:hover {
    background-image: url("common-assets/misc/calendar-arrow-left-hover.svg");
  }

  &:active {
    background-image: url("common-assets/misc/calendar-arrow-left.svg");
  }

  &:rtl {
    background-image: url("common-assets/misc/calendar-arrow-right.svg");

    &:focus {
      background-image: url("common-assets/misc/calendar-arrow-right-hover.svg");
    }

    &:hover {
      background-image: url("common-assets/misc/calendar-arrow-right-hover.svg");
    }

    &:active {
      background-image: url("common-assets/misc/calendar-arrow-right.svg");
    }
  }
}

.calendar-change-month-forward {
  width: 16px;
  height: 16px;
  background-image: url("common-assets/misc/calendar-arrow-right.svg");

  &:focus {
    background-image: url("common-assets/misc/calendar-arrow-right-hover.svg");
  }

  &:hover {
    background-image: url("common-assets/misc/calendar-arrow-right-hover.svg");
  }

  &:active {
    background-image: url("common-assets/misc/calendar-arrow-right.svg");
  }

  &:rtl {
    background-image: url("common-assets/misc/calendar-arrow-left.svg");

    &:focus {
      background-image: url("common-assets/misc/calendar-arrow-left-hover.svg");
    }

    &:hover {
      background-image: url("common-assets/misc/calendar-arrow-left-hover.svg");
    }

    &:active {
      background-image: url("common-assets/misc/calendar-arrow-left.svg");
    }
  }
}

.calendar-day-event-dot-box {
  margin-top: 1.7em;
  max-rows: 1;
}

.calendar-day-event-dot {
  margin: 1px;
  border-radius: 2px;
  width: 4px;
  height: 4px;
}

.calendar-day-base {
  font-size: 1em;
  text-align: center;
  width: 2.2em;
  height: 2.2em;
  padding: 0.1em;

  &:hover {
    font-weight: bold;
    color: $FontColor_1;
    background-color: $BackgroundColor_5;
  }
}

.calendar-day-heading {
  color: $FontColor_2;
  margin-top: 1em;
  font-size: 1.05em;
}

.calendar-day {
  border-width: 0;
  color: $FontColor_2;
}

.calendar-day-top {
  border-top-width: 0;
}

.calendar-day-left {
  border-left-width: 0;
}

.calendar-nonwork-day {
  color: $FontColor_3;
  background-color: $BackgroundColor_13;
  font-weight: bold;
}

.calendar-today {
  color: $FontColor_3;
  background-color: $BackgroundColor_6;
  border-width: 0;

  &:selected {
    font-weight: bold;
  }
}

.calendar-not-today {
  color: $FontColor_3;

  &:selected {
    font-weight: bold;
    background-color: $BackgroundColor_6;

    &:hover {
      font-weight: bold;
      color: $FontColor_3;
    }
  }
}

.calendar-other-month-day {
  color: $FontColor_6;
  opacity: 1;

  &:hover {
    color: $FontColor_1;
    opacity: 1;
  }
}

.calendar-week-number {
  color: $FontColor_2;
  font-size: 0.8em;
  margin-top: 0.8em;
}

#notification {
  border: 1px solid $BorderColor_5;
  border-radius: 5px;
  background-color: $BackgroundColor_2;
  padding: 13px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 20px;
  width: 34em;
  color: $FontColor_3;
}

#notification.multi-line-notification {
  padding-bottom: 13px;
  color: $FontColor_3;
}

#notification-scrollview {
  max-height: 10em;

  >.top-shadow {
    height: 1em;
  }

  >.bottom-shadow {
    height: 1em;
  }

  &:ltr {
    >StScrollBar {
      padding-left: 6px;
    }
  }

  &:rtl {
    >StScrollBar {
      padding-right: 6px;
    }
  }
}

#notification-body {
  spacing: 5px;
}

#notification-actions {
  spacing: 10px;
}

.notification-with-image {
  min-height: 159px;
  color: $FontColor_3;
}

#altTabPopup {
  padding: 8px;
  spacing: 16px;
}

.switcher-list {
  color: $FontColor_3;
  border: 1px solid $BorderColor_5;
  background-color: $BackgroundColor_10;
  border-radius: 7px;

  >StBoxLayout {
    padding: 4px;
  }

  .item-box {
    padding: 20px;
    border-radius: 7px;

    &:outlined {
      padding: 8px;
      border: 1px solid $BorderColor_4;
    }

    &:selected {
      color: $FontColor_1;
      background-color: $BackgroundColor_5;
      border: 0px solid $BorderColor_4;
    }
  }

  .thumbnail {
    width: 256px;
  }

  .thumbnail-box {
    padding: 2px;
    spacing: 4px;
  }

  .separator {
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
  }
}

.switcher-list-item-container {
  spacing: 8px;
}

.switcher-arrow {
  border-color: $BorderColor_2;
  color: $FontColor_3;

  &:highlighted {
    border-color: $BorderColor_2;
    color: $FontColor_1;
  }
}

.thumbnail-scroll-gradient-left {
  background-color: $BackgroundColor_10;
  border-radius: 24px;
  border-radius-topright: 0px;
  border-radius-bottomright: 0px;
  width: 60px;
}

.thumbnail-scroll-gradient-right {
  background-color: $BackgroundColor_10;
  border-radius: 24px;
  border-radius-topleft: 0px;
  border-radius-bottomleft: 0px;
  width: 60px;
}

.ripple-box {
  width: 104px;
  height: 104px;
  background-image: url("common-assets/misc/corner-ripple.svg");
  background-size: contain;

  &:rtl {
    background-image: url("common-assets/misc/corner-ripple.svg");
  }
}

.lightbox {
  background-color: $BackgroundColor_10;
}

.flashspot {
  background-color: $BackgroundColor_14;
}

.modal-dialog {
  background-color: $BackgroundColor_10;
  border: 1px solid $BorderColor_5;
  border-radius: 3px;
  padding: 5px 10px;

  >StBoxLayout {
    &:first-child {
      padding: 10px;
    }
  }

  .confirm-dialog-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 12px;
  }
}

.run-dialog {
  padding: 10px 15px 10px 15px;
  border: 1px solid $BorderColor_5;
  border-radius: 3px;
  background-color: $BackgroundColor_10;

  >* {
    padding: 0;
  }

  .modal-dialog-button-box {
    border: none;
    box-shadow: none;
    background: none;
  }
}

.run-dialog-label {
  font-size: 1.3em;
  font-weight: bold;
  color: $FontColor_3;
  padding-bottom: 15px;
  text-align: center;
}

.run-dialog-description {
  color: $FontColor_3;
  padding-top: 15px;
  text-align: center;
}

.run-dialog-description.error {
  color: $FontColor_11;
}

.run-dialog-completion-box {
  padding-top: 5px;
  padding-left: 15px;
  font-size: 1em;
}

.run-dialog-entry {
  width: 21em;
  height: 1.2em;
  padding: 7px;
  border-radius: 3px;
  caret-color: #c3c3c3;
  selected-color: #ffffff;
  selection-background-color: $BorderColor_4;
  color: $FontColor_2;
  background-color: $BackgroundColor_3;
  border: 1px solid $BorderColor_7;
  box-shadow: inset 0 2px 4px $BoxShadowColor_7;

  &:focus {
    color: $FontColor_3;
    background-color: $BackgroundColor_1;
    border: 1px solid $BorderColor_4;
    box-shadow: inset 0 2px 4px $BoxShadowColor_5;
  }
}

.cinnamon-mount-operation-icon {
  icon-size: 48px;
}

.mount-password-reask {
  color: $FontColor_10;
}

.show-processes-dialog {
  spacing: 24px;
}

.mount-question-dialog {
  spacing: 24px;
}

.show-processes-dialog-subject {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;

  &:rtl {
    padding-left: 0px;
    padding-right: 17px;
  }
}

.mount-question-dialog-subject {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;

  &:rtl {
    padding-left: 0px;
    padding-right: 17px;
  }
}

.show-processes-dialog-description {
  padding-left: 17px;
  width: 28em;

  &:rtl {
    padding-right: 17px;
  }
}

.mount-question-dialog-description {
  padding-left: 17px;
  width: 28em;

  &:rtl {
    padding-right: 17px;
  }
}

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;

  &:rtl {
    padding-right: 49px;
    padding-left: 32px;
  }
}

.show-processes-dialog-app-list-item {
  color: $FontColor_2;

  &:hover {
    color: $FontColor_1;
  }

  &:ltr {
    padding-right: 1em;
  }

  &:rtl {
    padding-left: 1em;
  }
}

.show-processes-dialog-app-list-item-icon {
  &:ltr {
    padding-right: 17px;
  }

  &:rtl {
    padding-left: 17px;
  }
}

.show-processes-dialog-app-list-item-name {
  font-size: 1.1em;
}

.magnifier-zoom-region {
  border: 2px solid maroon;

  .full-screen {
    border-width: 0px;
  }
}

#keyboard {
  background-color: $BackgroundColor_10;
  border-width: 0;
  border-top-width: 1px;
  border-color: $BorderColor_3;
}

.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  min-height: 2em;
  min-width: 2em;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: none;
  color: $FontColor_2;
  border: 1px solid $BorderColor_5;
  background-color: $BackgroundColor_3;

  &:hover {
    color: $FontColor_2;
    border: 1px solid rgba(2, 2, 2, 0.4);
    background-color: $BackgroundColor_1;
  }

  &:active {
    color: $FontColor_1;
    border: 1px solid $BorderColor_4;
    background-color: $BackgroundColor_5;
  }

  &:checked {
    color: $FontColor_1;
    border: 1px solid $BorderColor_4;
    background-color: $BackgroundColor_5;
  }

  &:grayed {
    color: $FontColor_4;
    border: 1px solid rgba(2, 2, 2, 0.4);
    background-color: $BackgroundColor_3;
  }
}

.keyboard-subkeys {
  color: $FontColor_2;
  padding: 5px;
  -arrow-border-radius: 2px;
  -arrow-background-color: #353535;
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(0, 0, 0, 0.4);
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}

.menu-favorites-box {
  padding: 5px 0 5px 0;
  transition-duration: 300;
  background-color: $BackgroundColor_13;
  border: 1px solid $BorderColor_5;
}

.menu-favorites-button {
  padding: 0.9em 1em;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;

  &:hover {
    background-color: $BackgroundColor_6;
    border: 1px;
    border-radius: 4px;
  }
}

.menu-places-box {
  padding: 10px;
  border: 0px solid red;
}

.menu-places-button {
  padding: 10px;
}

.menu-categories-box {
  padding: 10px 30px 10px 30px;
}

.menu-applications-inner-box {
  margin: 10px 10px 0 10px;
}

.menu-applications-outer-box {
  margin: 10px 10px 0 10px;
}

.menu-application-button {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0);

  &:highlighted {
    font-weight: bold;
  }
}

.menu-application-button-selected {
  padding: 7px;
  color: $FontColor_1;
  background-color: $BackgroundColor_6;
  border: 1px;
  border-radius: 4px;

  &:highlighted {
    font-weight: bold;
  }
}

.menu-application-button-label {
  &:ltr {
    padding-left: 5px;
  }

  &:rtl {
    padding-right: 5px;
  }
}

.menu-category-button {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.menu-category-button-selected {
  padding: 7px;
  color: $FontColor_1;
  background-color: $BackgroundColor_6;
  border: 1px;
  border-radius: 4px;
}

.menu-category-button-hover {
  background-color: $BackgroundColor_8;
  border-radius: 4px;
}

.menu-category-button-greyed {
  padding: 7px;
  color: $FontColor_6;
  border: 1px solid rgba(0, 0, 0, 0);
}

.menu-category-button-label {
  &:ltr {
    padding-left: 5px;
  }

  &:rtl {
    padding-right: 5px;
  }
}

.menu-selected-app-box {
  padding-right: 30px;
  padding-left: 28px;
  text-align: right;
  height: 2.2em;

  &:rtl {
    padding-top: 10px;
    height: 2.2em;
  }
}

.menu-selected-app-title {
  font-weight: bold;
}

.menu-selected-app-description {
  max-width: 150px;
}

.menu-search-box {
  &:ltr {
    padding-left: 30px;
  }
}

.menu-search-box-rtl {
  padding-right: 30px;
}

.menu-search-entry-icon {
  icon-size: 1em;
  color: $FontColor_3;
}

.info-osd {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 16px;
  color: $FontColor_3;
  border: 1px solid $BorderColor_5;
  border-radius: 5px;
  background-color: $BackgroundColor_10;
}

.restart-osd {
  font-size: 1.6em;
}

.workspace-osd {
  font-size: 4em;
}

.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 20px;
  color: $FontColor_2;
  background-color: $BackgroundColor_10;
  border: 1px solid $BorderColor_5;
  border-radius: 5px;

  .osd-monitor-label {
    font-size: 3em;
  }

  .level {
    padding: 0;
    height: 0.7em;
    background-color: $BackgroundColor_10;
    border-radius: 2px;
  }

  .level-bar {
    border-radius: 2px;
    background-color: $BackgroundColor_5;
  }
}

.window-list-box {
  spacing: 5px;
  padding-left: 10px;
  padding-top: 1px;

  &:highlight {
    background-color: $BackgroundColor_8;
  }
}

.window-list-box.vertical {
  spacing: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.window-list-item-label {
  font-weight: bold;
  width: 15em;
  min-width: 5px;
}

.window-list-item-box {
  font-weight: bold;
  border-radius: 5px;
  background-image: none;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 100;
  color: $FontColor_3;

  &:hover {
    color: $FontColor_3;
    background-color: $BackgroundColor_6;
  }

  &:groupfocus {
    color: $FontColor_3;
    background-color: $BackgroundColor_6;
  }

  &:active {
    color: $FontColor_3;
    border-color: $BorderColor_4;
    background-color: $BackgroundColor_6;
  }

  &:checked {
    color: $FontColor_3;
    border-color: $BorderColor_4;
    background-color: $BackgroundColor_6;
  }

  &:focus {
    color: $FontColor_3;
    border-color: $BorderColor_4;
    background-color: $BackgroundColor_6;
  }

  &:running {
    color: $FontColor_3;
    border-color: $BorderColor_4;
    background-color: $BackgroundColor_6;
  }

  .progress {
    border-radius: 80px;
    background-color: $BackgroundColor_5;
  }
}

.window-list-item-box.top {
  border-bottom-width: 2px;

  StLabel {
    padding-left: 2px;
  }
}

.window-list-item-box.bottom {
  border-bottom-width: 2px;

  StLabel {
    padding-left: 2px;
  }
}

.window-list-item-box.right {
  padding-left: 0px;
  padding-right: 0px;
  border-right-width: 2px;

  StBin {
    padding-right: 0;
  }
}

.window-list-item-box.left {
  padding-left: 0px;
  padding-right: 0px;
  border-left-width: 2px;

  StBin {
    padding-left: 1px;
  }
}

.window-list-item-demands-attention {
  background-gradient-direction: vertical;
  background-gradient-start: #f04a50;
  background-gradient-end: #f04a50;
}

.window-list-preview {
  spacing: 6px;
  color: $FontColor_3;
  border: 1px solid $BorderColor_5;
  background-color: $BackgroundColor_2;
  border-radius: 4px;
  padding: 6px 12px 12px 12px;
  font-size: 1em;
}

.grouped-window-list-item-label {
  font-weight: bold;
  width: 15em;
  min-width: 5px;
}

.grouped-window-list-item-box {
  text-align: left;
  font-weight: bold;
  background-image: none;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 100;
  color: $FontColor_3;

  &:hover {
    color: $FontColor_3;
    background-color: $BackgroundColor_6;
  }

  &:focus {
    color: $FontColor_3;
    background-color: $BackgroundColor_6;
  }

  &:active {
    color: $FontColor_3;
    border-color: $BorderColor_4;
  }

  &:checked {
    color: $FontColor_3;
    border-color: $BorderColor_4;
  }

  .progress {
    background-color: $BackgroundColor_5;
  }
}

.grouped-window-list-item-box.top {
  border-bottom-width: 2px;

  StLabel {
    padding-left: 2px;
  }
}

.grouped-window-list-item-box.bottom {
  border-bottom-width: 2px;

  StLabel {
    padding-left: 2px;
  }
}

.grouped-window-list-item-box.right {
  padding-left: 0px;
  padding-right: 0px;
  border-right-width: 2px;

  StBin {
    padding-right: 0;
  }
}

.grouped-window-list-item-box.left {
  padding-left: 0px;
  padding-right: 0px;
  border-left-width: 2px;

  StBin {
    padding-left: 1px;
  }
}

.grouped-window-list-item-demands-attention {
  background-gradient-direction: vertical;
  background-gradient-start: #f04a50;
  background-gradient-end: #f04a50;
}

.grouped-window-list-thumbnail-label {
  padding-left: 4px;
}

.grouped-window-list-number-label {
  font-size: 0.8em;
  z-index: 99;
  color: $FontColor_2;
}

.grouped-window-list-badge {
  border-radius: 9999px;
  background-color: $BackgroundColor_1;
  margin: 0;
}

.grouped-window-list-button-label {
  padding-left: 4px;
}

.grouped-window-list-thumbnail-alert {
  background: rgba(255, 52, 52, 0.3);
}

.grouped-window-list-thumbnail-menu {
  color: $FontColor_3;
  border: 1px solid $BorderColor_5;
  background-color: $BackgroundColor_10;
  border-radius: 3px;
  padding: 0px;

  >StBoxLayout {
    padding: 4px;
  }

  .item-box {
    padding: 10px;
    border-radius: 2px;
    spacing: 4px;

    &:outlined {
      padding: 8px;
      border: 1px solid $BorderColor_4;
    }

    &:selected {
      border: 1px solid $BorderColor_4;
    }
  }

  .thumbnail {
    width: 256px;
  }

  .separator {
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
  }
}

.sound-button-container {
  padding-right: 3px;
  padding-left: 3px;
}

.sound-track-infos {
  padding: 5px;
}

.sound-track-info {
  padding-top: 2px;
  padding-bottom: 2px;

  StIcon {
    icon-size: 16px;
  }

  StLabel {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.sound-track-box {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 220px;
}

.sound-seek-box {
  padding-left: 15px;

  StLabel {
    padding-top: 2px;
  }

  StIcon {
    icon-size: 16px;
  }
}

.sound-seek-slider {
  width: 140px;
}

.sound-volume-menu-item {
  padding: 0.4em 1.75em;

  StIcon {
    icon-size: 1.14em;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.sound-playback-control {
  padding: 5px 10px 10px 10px;
}

.sound-player {
  >StBoxLayout {
    &:first-child {
      padding: 5px 10px 12px 10px;
      spacing: 0.5em;

      StButton {
        &:small {
          width: 20px;
          height: 20px;
          border: 1px solid transparent;

          StIcon {
            icon-size: 12px;
          }

          &:hover {
            color: $FontColor_3;
            background-color: $BackgroundColor_3;
            border: 1px solid $BorderColor_5;
            box-shadow: inset 0 2px 4px rgba(82, 82, 82, 0.05);
          }

          &:active {
            color: $FontColor_1;
            background-color: $BackgroundColor_5;
            border: 1px solid $BorderColor_4;
            box-shadow: inset 0 2px 4px $BoxShadowColor_1;
          }
        }
      }
    }
  }

  .slider {
    height: 0.5em;
    padding: 0;
    border: none;
    -slider-height: 0.5em;
    -slider-background-color: #222222;
    -slider-border-color: rgba(0, 0, 0, 0);
    -slider-active-background-color: $BackgroundColor_5;
    -slider-active-border-color: rgba(0, 0, 0, 0);
    -slider-border-width: 0px;
    -slider-handle-radius: 0px;
  }
}

.sound-player-generic-coverart {
  background: rgba(0, 0, 0, 0.2);
}

.sound-player-overlay {
  width: 290px;
  height: 70px;
  padding: 15px;
  spacing: 0.5em;
  background: rgba(47, 47, 47, 0.87);
  border-top: 1px solid $BorderColor_5;
  color: $FontColor_3;

  StButton {
    width: 22px;
    height: 13px;
    padding: 5px;
    color: $FontColor_3;
    border-radius: 2px;
    border: 1px solid transparent;

    StIcon {
      icon-size: 16px;
    }

    &:hover {
      color: $FontColor_3;
      background-color: $BackgroundColor_3;
      border: 1px solid $BorderColor_5;
      box-shadow: inset 0 2px 4px rgba(82, 82, 82, 0.05);
    }

    &:active {
      color: $FontColor_1;
      background-color: $BackgroundColor_5;
      border: 1px solid $BorderColor_4;
      box-shadow: inset 0 2px 4px $BoxShadowColor_1;
    }
  }

  StBoxLayout {
    padding-top: 2px;
  }

  >StBoxLayout {
    spacing: 5px;
  }
}

#workspaceSwitcher {
  spacing: 0px;
  padding: 3px;
}

.workspace-switcher {
  padding-left: 3px;
  padding-right: 3px;
}

.workspace-button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: $BackgroundColor_11;
  width: 20px;
  height: 14px;
  color: $FontColor_4;
  padding: 3px;
  padding-top: 4px;
  transition-duration: 200;

  &:outlined {
    background-color: $BackgroundColor_5;
    color: $FontColor_1;

    &:hover {
      background-color: $BackgroundColor_5;
      color: $FontColor_1;
    }
  }

  &:hover {
    background-color: $BackgroundColor_6;
    color: $FontColor_1;
  }
}

.workspace-button.vertical {
  height: 1.5em;
  width: 24px;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.workspace-graph {
  padding: 3px;
  spacing: 6px;

  .workspace {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: $BackgroundColor_11;

    &:active {
      border: 1px solid $BorderColor_4;

      .windows {
        -active-window-background: #6f6f6f;
        -active-window-border: rgba(0, 0, 0, 0.87);
        -inactive-window-background: #3c3c3c;
        -inactive-window-border: rgba(0, 0, 0, 0.87);
      }
    }

    .windows {
      -active-window-background: rgba(25, 30, 40, 0.87);
      -active-window-border: rgba(0, 0, 0, 0.87);
      -inactive-window-background: rgba(25, 30, 40, 0.87);
      -inactive-window-border: rgba(0, 0, 0, 0.87);
    }
  }
}

.panel-launchers {
  padding-left: 7px;
  spacing: 2px;

  .launcher {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    transition-duration: 200;

    &:hover {
      background-color: $BackgroundColor_3;
    }
  }
}

.panel-launchers.vertical {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
  spacing: 1px;

  .launcher {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

#overview-corner {
  background-image: url("common-assets/misc/overview.png");

  &:hover {
    background-image: url("common-assets/misc/overview-hover.png");
  }
}

.applet-separator {
  padding: 1px 4px;
}

.applet-separator.vertical {
  padding: 4px 1px;
}

.applet-separator-line {
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.applet-separator-line-vertical {
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.applet-box {
  padding-left: 4px;
  padding-right: 4px;
  spacing: 4px;
  color: $FontColor_3;
  text-shadow: none;
  transition-duration: 100;
  text-align: center;

  &:hover {
    color: $FontColor_1;
    border-bottom: 2px;
    border-color: $BorderColor_4;
    background-color: $BackgroundColor_6;

    .applet-label {
      color: $FontColor_1;
      text-shadow: none;
    }

    >.applet-icon {
      color: $FontColor_1;
      text-shadow: none;
    }
  }

  &:checked {
    color: $FontColor_1;
    border-bottom: 2px;
    border-color: $BorderColor_4;
    background-color: $BackgroundColor_6;

    .applet-label {
      color: $FontColor_1;
      text-shadow: none;
    }

    >.applet-icon {
      color: $FontColor_1;
      text-shadow: none;
    }
  }

  &:highlight {
    background-image: none;
    border-image: none;
    background-color: $BackgroundColor_6;
  }
}

.applet-box.vertical {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.applet-label {
  font-weight: bold;
  color: $FontColor_3;

  &:hover {
    color: $FontColor_1;
    text-shadow: none;
  }

  &:checked {
    color: $FontColor_1;
    text-shadow: none;
  }
}

.applet-icon {
  color: $FontColor_1;
  icon-size: 22px;

  &:hover {
    color: $FontColor_1;
    text-shadow: none;
  }

  &:checked {
    color: $FontColor_1;
    text-shadow: none;
  }
}

.user-icon {
  width: 32px;
  height: 32px;
  background-color: $BackgroundColor_13;
  border: none;
  border-radius: 0;
}

.user-label {
  color: $FontColor_3;
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
}

.applet-cornerbar {
  width: 8px;
  background-color: $BackgroundColor_6;
}

.applet-cornerbar-box {
  padding: 4px 4px;

  &:hover {
    >.applet-cornerbar {
      background-color: $BackgroundColor_6;
    }
  }
}

.applet-cornerbar.vertical {
  height: 8px;
}

.desklet {
  color: $FontColor_3;

  &:highlight {
    background-color: $BackgroundColor_8;
  }
}

.desklet-with-borders {
  border: 1px solid $BorderColor_5;
  border-radius: 5px;
  background-color: $BackgroundColor_10;
  color: $FontColor_3;
  padding: 12px;
  padding-bottom: 16px;

  &:highlight {
    background-color: $BackgroundColor_8;
  }
}

.desklet-with-borders-and-header {
  border: 1px solid $BorderColor_5;
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
  background-color: $BackgroundColor_10;
  color: $FontColor_3;
  border-radius: 0;
  border-radius-topleft: 0;
  border-radius-topright: 0;
  padding: 12px;
  padding-bottom: 17px;

  &:highlight {
    background-color: $BackgroundColor_8;
  }
}

.desklet-header {
  border: 1px solid $BorderColor_5;
  border-radius: 5px 5px 0 0;
  background-color: $BackgroundColor_11;
  color: $FontColor_3;
  font-size: 1em;
  padding: 12px;
  padding-bottom: 6px;
}

.desklet-drag-placeholder {
  border: 2px solid $BorderColor_4;
  background-color: $BackgroundColor_6;
}

.photoframe-box {
  border: 1px solid $BorderColor_5;
  border-radius: 5px;
  background-color: $BackgroundColor_10;
  color: $FontColor_3;
  padding: 12px;
  padding-bottom: 16px;
}

.notification-applet-padding {
  padding: 0.5em 1em;
}

.notification-applet-container {
  max-height: 100px;
}

.tile-preview {
  background-color: $BackgroundColor_6;
  border: 1px solid $BorderColor_4;
}

.tile-preview.snap {
  background-color: $BackgroundColor_5;
}

.tile-hud {
  background-color: $BackgroundColor_6;
  border: 1px solid $BorderColor_4;

  &:top {
    border-top-width: 0px;
  }

  &:bottom {
    border-bottom-width: 0px;
  }

  &:left {
    border-left-width: 0px;
  }

  &:right {
    border-right-width: 0px;
  }

  &:top-left {
    border-top-width: 0px;
    border-left-width: 0px;
  }

  &:top-right {
    border-top-width: 0px;
    border-right-width: 0px;
  }

  &:bottom-left {
    border-bottom-width: 0px;
    border-left-width: 0px;
  }

  &:bottom-right {
    border-bottom-width: 0px;
    border-right-width: 0px;
  }
}

.tile-hud.snap {
  background-color: $BackgroundColor_5;
}

.xkcd-box {
  padding: 6px;
  border: 0px;
  background-color: $BackgroundColor_10;
  border-radius: 0px;
}
